*{
    font-family: 'Roboto', sans-serif;
    font-size: medium;
    margin: 0;
    padding: 0;
}

form{
    width: 90%;
    margin: 0 auto;
    padding: 10px;
}

p{
    font-weight: bold;
}

span{
    font-size: small;
    margin-bottom: 15px;
}

.row{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    margin-top: 15px;
}

input{
    height: 30px;
    border-radius: 5px;
    margin-bottom: 15px;
    border: 1px solid #000;
    
}